<app-header> </app-header>
<div 
class="flex flex-col items-center w-full gap-6">
@for (card of myDashboard(); track card.title; let isLast = $last){
    <app-card
    [id]="isLast ? 'web-card' : ''" 
    [cardData]="card"
    [isSelected]="cardsState().has(card.title)"
    [allowExtraOptions]="isLast"
    (onCardChange)="updateCardState($event)">
    </app-card>
}
</div>

<app-budget-summary [totalPrice]="totalBudget()"></app-budget-summary>

@if (totalBudget() !== 0) {
    <div id="budget-form-container" class="pb-30">
  <app-user-form (onSubmitBudget)="saveNewBudget($event)"></app-user-form>
    </div>
}
@if (budgetList().length !== 0){
  <div id="budget-history-container" class="w-full">
  <app-budget-history [allBudgets]="budgetList()"> </app-budget-history>
  </div>
}


